* {
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header,
footer,
#upper-content {
  background-color: #1f2937;
  display: flex;
}

a,
li {
  list-style: none;
  text-decoration: none;
}

/* HEADER */
header {
  position: fixed;
  width: 100%;
}

header a {
  color: #e5e7eb;
  font-size: 18px;
}

#header-main {
  color: #f9faf8;
  font-size: 24px;
}

header {
  justify-content: space-between;
  padding: 15px 200px;
}

header ul {
  display: flex;
  gap: 25px;
  padding: 0;
}

/* UPPER-CONTENT */
#upper-content {
  justify-content: center;
  align-items: center;
  padding: 120px 250px 100px 250px;
  gap: 50px;
}

.left-side {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 500px;
}

.left-side h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}

.left-side p {
  color: #e5e7eb;
  font-size: 18px;
  text-align: justify;
}

.left-side a {
  width: fit-content;
}

#upper-content button {
  padding: 10px 15px;
  color: white;
  background-color: #3882f6;
  font-size: 18px;
  border-radius: 10px;
  border: 0;
}

#upper-content button:hover {
  cursor: pointer;
  background-color: goldenrod;
  transition: 0.5s;
}

.right-side {
  width: 400;
  height: auto;
}

/* LOWER-CONTENT */
#lower-content {
  display: flex;
  flex-direction: column;
}

#lower-content h2 {
  text-align: center;
  padding: 50px;
}

.images-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  padding-bottom: 100px;
}

.image-content {
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 10px;
}

.image-content p {
  text-align: center;
}

.image {
  border: 3px solid #3882f6;
  border-radius: 15px;
}

#lower-content img {
  width: 200px;
}

/* QOUTE */
#quote {
  background-color: #e5e7eb;
  padding: 100px 300px;
}

#quote-content {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
}

#quote-author {
  font-size: 22px;
  font-weight: 600;
  text-align: end;
}

/* SIGN-UP */
#sign-up {
  padding: 100px 200px;
}

.sign-up-container {
  background-color: #3882f6;
  display: flex;
  padding: 50px 100px;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.sign-up-content h3 {
  color: white;
  font-size: 22px;
  padding-bottom: 5px;
}

.sign-up-content p {
  color: #e5e7eb;
  font-size: 18px;
}

#sign-up-btn {
  background-color: #3882f6;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  width: 120px;
  padding: 5px 0;
}

/* FOOTER */
footer {
  color: #e5e7eb;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  padding: 25px;
}
